.icon-logo-footer {
  max-width: 163px;
  max-height: 58px;
  fill: #000;
  stroke: #000;
}

.icon-personal-area {
  max-width: 25px;
  max-height: 21px;
  margin-top: 5px;
}

.icon-chevron-down {
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}